.aboutUs {
    margin-top: 150px;
    display: flex;

    .aboutUsText {
        margin-left: 50px;
    }
}

.greatViews {
    display: flex;
    margin-top: 100px;
    .greatReviewsContent {
        padding-top: 100px;
        padding-left: 100px;
    }
}


.our-expert {
    padding-top: 100px;

    .parent {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;

        .child {
            display: block;
            .employees-name {
                padding-top: 20px;
            }
        }
    }
}
