.aboutUs {
    margin-top: 150px;
    display: flex;

    .aboutUsText {
        margin-left: 50px;
    }
}

.greatViews {
    display: flex;
    margin-top: 100px;
    .greatReviewsContent {
        padding-top: 100px;
        padding-left: 100px;
    }
}