.our-services {
    .container {
        .headline {
            padding: 50px;

        }
        .services {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 20px;
        }
    }
}




.image-slider {
    .slides {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .slide-item {
        }
    }
}
